@model Poll

<form asp-action="Vote" method="post">
    <input type="hidden" name="pollId" value="@Model.Id" />
@foreach (var question in Model.Questions)
{
    <li>
        <h3>@question.Text</h3>

        <ul>
            @foreach (var answer in question.Answers)
            {
                    <input type="radio" name="Id" value="@answer.Id" /> @answer.Text
            }
        </ul>
    </li>
}
    <button type="submit">Vote</button>
</form>