@model Polling_Page_Administration_Task.ViewModels.CreatePollViewModel
@{
    ViewData["Title"] = "Create Poll";
}

<h2>Create Poll</h2>

<form asp-action="AddPoll" method="post" class="form-horizontal">
    <div class="form-group">
        <label asp-for="Title" class="control-label col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>

    <div id="questions">
        @for (int i = 0; i < Model.Questions.Count; i++)
        {
            <div class="form-group">
                <label asp-for="Questions[i].Text" class="control-label col-md-2">Question</label>
                <div class="col-md-10">
                    <input asp-for="Questions[i].Text" class="form-control" />
                    <span asp-validation-for="Questions[i].Text" class="text-danger"></span>
                </div>
            </div>

            @for (int j = 0; j < Model.Questions[i].Answers.Count; j++)
            {
                
                <div class="form-group">
                    <label asp-for="Questions[i].Answers[j]" class="control-label col-md-2">Answer</label>
                    <div class="col-md-10">
                        <input asp-for="Questions[i].Answers[j]" class="form-control" />
                        <span asp-validation-for="Questions[i].Answers[j]" class="text-danger"></span>
                    </div>
                </div>
            }
        }
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
